.root {
    -fx-background-image: url('background.jpg');
    -fx-background-size: cover;
}
.container{
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 10;
}

.button{
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 10;
}
.button:hover{
    -fx-background-color: #e94e50;
    -fx-background-radius: 20;
}
.label{
    -fx-font-family: "Times New Roman", Times;
}
.line-color{
    -fx-background-color: #ffffff;
}
.chart{
    -fx-background-color: transparent;
}
.axis-label{
    -fx-text-fill: #fff;
}
.chart-plot-background{
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #ffffff;
    -fx-text-background-color: red;
}


.default-color0.chart-series-line { -fx-stroke: #238591; }
.default-color1.chart-series-line { -fx-stroke: #e5d849; }
.default-color2.chart-series-line { -fx-stroke: #ed4d51; }